.jumbotron {
    background-image: url("../img/artechouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    background-position: 50% 28.5%;
}