.lead p {
    border-right: .15em solid #20c997;;
    font-family: "Courier";
    font-size: 14px;
    color: #20c997;
    white-space: nowrap;
    overflow: hidden;
}
.lead p:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.lead p:nth-child(2) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type2 1s steps(40, end);
    animation: type2 1s steps(40, end);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #20c997;;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #20c997;;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #20c997;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #20c997;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.fixed-top.not-scrolled {
    background-color: transparent !important;
    transition: background-color 200ms linear;
}

body {
    padding-top: 70px;
}

.navitem a:focus{
    color:#fff;
}