body{
   background-image: url("../bg-5-full.jpg");
   color: white;
   font-size: 14px;
}

h1{
   color: #F64C72;
   font-size: 36px;
   line-height: 46px;
}

b{
   color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(211, 211, 211, 0.3);
    line-height: 46px;
}

li {
    float: right;
}

li h1 {
    margin-left: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h3{
   color: white;
   font-size: 14px;
}

.img-circle {
    float: left;
    border-radius: 50%;
}
