body {
    background-image: url("../images/bg-5-full.jpg") !important;
    color: white !important;
    font-size: 14px !important;
}

#navbar_template {
    background-color: rgba(211, 211, 211, 0.3);
    border-color: rgba(211, 211, 211, 0.3);
}
