.bg-dark {
    &.navbar-dark .navbar-nav {

        .nav-link:hover,
        .active > .nav-link {
            color: $pink !important;
        }

        .nav-link:focus,
        .active > .nav-link {
            color: $white !important;
        }
    }
}

.lead h1 {
    border-right: .15em solid #00bc8c;;
    font-family: "Courier";
    color: #00bc8c;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.lead h1:nth-child(1) {
    width: 9em;
    -webkit-animation: type 1s steps(40, end);
    animation: type 1s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.lead h2 {
    border-right: .15em solid #00bc8c;
    font-family: "Courier";
    color: #00bc8c;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.lead h2:nth-child(2) {
    width: 14em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.lead h2:nth-child(3) {
    width: 18em;
    opacity: 0;
    -webkit-animation: type3 2.75s steps(40, end);
    animation: type3 2.75s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.lead h2:nth-child(4) {
    width: 20em;
    opacity: 0;
    -webkit-animation: type3 2.75s steps(40, end);
    animation: type3 2.75s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type4 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type4 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: .15em solid #00bc8c;;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.container {
    padding-top: 70px;
}

.jumbotron {
    margin-bottom: 0;
}

.container-success {
    background-color: $success;
}

.carousel-item {
    height: 325px;
    overflow: hidden;
    width: 100%;
}

.container-indigo {
    background-color: $indigo;
}

.container-secondary {
    background-color: $secondary;
}

.container-primary {
    background-color: $primary;
}

.container-gray-600 {
    background-color: $gray-600;
}

.container-gray-900 {
    background-color: $gray-900;
}

.container-black {
    background-color: $black;
}

.container-fluid {
    padding: $spacer !important;
}

.progress-big {
    font-size: 30px;
    height: 30px;
    margin-top: 10px;
}

.parallax {
    background-attachment: fixed;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeIn2 {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@media only screen and (max-device-width: 768px) {
    .parallax {
      background-attachment: scroll !important;
    }

    .lead h1 {
        border-right: transparent !important;
        white-space: normal !important;
    }

    .lead h1:nth-child(1) {
        -webkit-animation: fadeIn 2s !important;
        animation: fadeIn 2s !important;
        width: 100% !important;
    }

    .lead h2 {
        border-right: transparent !important;
        white-space: normal !important;
        font-size: $small-font-size;
    }

    .lead h2:nth-child(2) {
        -webkit-animation: fadeIn2 2s !important;
        animation: fadeIn2 2s !important;
        width: 100% !important;
        -webkit-animation-delay: 0s !important;
        animation-delay: 0s !important;
        opacity: 1 !important;
    }

    .lead h2:nth-child(3) {
        -webkit-animation: fadeIn2 2s !important;
        animation: fadeIn2 2s !important;
        width: 100% !important;
        -webkit-animation-delay: 0s !important;
        animation-delay: 0s !important;
        opacity: 1 !important;
    }

    .lead h2:nth-child(4) {
        -webkit-animation: fadeIn2 2s !important;
        animation: fadeIn2 2s !important;
        width: 100% !important;
        -webkit-animation-delay: 0s !important;
        animation-delay: 0s !important;
        opacity: 1 !important;
    }
}

@media only screen and (min-device-width: 768px) {
    .fixed-top.not-scrolled {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }
}