@import "../node_modules/bootswatch/dist/darkly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/darkly/bootswatch";

.brandText {
    color: $white !important;
}

.brandText:hover {
    color: $white !important;
    text-decoration: none !important;
}

.navLink:hover {
    color: $pink !important;
}

.navbarTop {
    &.navbar {
        background-color: transparent !important;
    }
    
    &.navbar-light .navbar-nav {
        .nav-link:focus,
        .nav-link:hover,
        .active > .nav-link {
            color: $pink !important;
        }
    }
}

.navbarScrolled {
    &.navbar {
        background-color: $success !important;
    }
}

.indexJumbotron {
    background-color: transparent !important;
}

h1 {
    color: $success;
}

.indexJumbotron h1 {
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2 {
    color: $success;
}

.indexJumbotron h2 {
    margin-left: 1.5em;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}