@import "../node_modules/bootswatch/dist/lux/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/lux/bootswatch";

.brandText {
    color: $white !important;
}

.brandText:hover {
    color: $white !important;
    text-decoration: none !important;
}

.navLink:hover {
    color: $pink !important;
}

.navbarTop {
    &.navbar-primary .navbar-nav {
        .nav-link:focus,
        .nav-link:hover,
        .active > .nav-link {
            color: $pink !important;
        }
    }
}

.indexJumbotron {
    background-color: transparent !important;
}

.indexJumbotron h1 {
    color: $success;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.indexJumbotron h3 {
    color: $success;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media only screen and (min-device-width: 768px) {
    .navbarNotScrolled {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }
}

.marginTop {
    margin-top: 1%;
}

.jumbotronMarginTop {
    margin-top: 7%;
}

.experienceTitle {
    color: $success !important;
    font-weight: bold !important;
}

.experiencePosition {
    color: $info !important;
    font-weight: bold !important;
}

.experienceCard {
    min-height: 47vh;
    width: 100%;
}

@media only screen and (max-device-width: 768px) {
    .experienceCard {
        min-height: 80vh !important;
    }
}

@media only screen and (max-device-width: 480px) {
    .experienceCard {
        min-height: 58vh !important;
    }
}

.skillIcon {
    color: $success;
}

.socialIcon {
    color: $primary;
}